{% extends 'layout.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <body id="page-top">

    <!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Utilisateurs</h1>
            <p class="mb-4">Ici vous trouverez la liste de tous les utilisateus s'étend inscrit sur votre site. Vous
                pourrez consulter leurs informationsn ainsi que participer à leur gestion</p>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nombre d'utilisateurs
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ users|length }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DataTales Example -->
            <div class="card mb-4" style="box-shadow: 3px 3px 15px 2px">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-secondary">Liste des utilisateurs</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Adresse Email</th>
                                <th>Date d'inscription</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Adresse Email</th>
                                <th>Date d'inscription</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for user in users %}
                                <tr onclick="location.href = '/admin/user/{{ user.id_user }}'" style="cursor: pointer">
                                    <td>{{ user.id_user }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.date_add|date('d/m/Y H:i:s') }}</td>
                                    <td><form action="/admin/users" method="POST"><a href="/admin/user/{{ user.id_user }}"><i class="fas fa-edit"></i></a>
                                            <button class="btn btn-default text-danger" name="deleteUser" onclick="if(confirm('Êtes-vous sûr ?')){return true;}else{return false;}"><i class="fas fa-trash"></i></button>
                                            <input type="hidden" name="id_user" value="{{ user.id_user }}"></form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
{% endblock %}