{% extends "layout.html.twig" %}

{% block body %}
    <h1>Modification de l'article #{{ article.id }}</h1>
    <div class="shadow p-5 mt-5 bg-white rounded">
        <nav class="nav justify-content-end">
            <a href="javascript:history.go(-1)" class="nav-link" title="Retour"><i class="fas fa-chevron-left align-middle"></i></a>
            <a class="nav-link" href="/article/delete/{{ article.id }}" title="Supprimer"><i style="color: red;" class="fas fa-trash align-middle"></i></a>
        </nav>
        <form action="/article/edit/{{ article.id }}" method="post">
            <label for="title">Titre</label>
            <input id="title" class="form-control" type="text" name="titleArticle" value="{{ article.title }}">

            <label for="content">Contenu</label>
            <textarea id="mytextarea" class="form-control" name="contentArticle" cols="30" rows="10">{{ article.content }}</textarea>

            <input class="form-control btn btn-success shadow mt-2" type="submit" name="updateArticle" value="Modifier">
        </form>
    </div>
{% endblock %}