{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <ul class="list-unstyled">
        {% for article in articles %}
            <li style="cursor: pointer;" onclick="document.location = '/article/{{ article.id_article }}'" class="media shadow mt-5 p-3" id="index-list">
                <img style="max-width: 120px; max-height: 120px;" src="/img/user/default.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ article.title }}</h5>
                    {{ article.content|truncate(300, true)|raw }}
                    <p>{{ article.firstname }} {{ article.lastname }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}