{% extends "layout.html.twig" %}

{% block title %}Mon Profil - {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1>Édition du profil</h1>
    <form method="post" enctype="multipart/form-data">

        <div style="margin: 0 auto" class="text-center col-6 mb-3">
            {% if user.image_name != null %}
                <img class="border border-secondary" style="width: 140px; height: 140px; border-radius: 50%; object-fit: cover;" id="userImg" src="/img/user/{{ user.image_name }}" alt="">
                <label id="labelDeleteImg" style="cursor: pointer" for="deleteImg" class="col-4 shadow p-3 mt-2 mb-2 bg-white rounded btn btn-default"><i
                            class="fas fa-trash"></i> Supprimer</label>
                <input id="deleteImg" type="submit" name="deleteImg" value="Supprimer" onclick="if(confirm('Êtes-vous sûr ?')){return true;}else{return false;}">
            {% else %}
                <label for="file" class="shadow p-3 mb-2 bg-white rounded btn btn-default" id="filename">
                    <i class="fas fa-upload"></i>
                    <span id="text">Choisir une image</span></label>
                <input id="file" class="input-file" type="file" name="userImg">
            {% endif %}
        </div>

        <div class="row">
            <div class="col">
                <label for="lastname">Nom</label>
                <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Nom"
                       value="{{ user.lastname }}">
            </div>
            <div class="col">
                <label for="firstname">Prénom</label>
                <input class="form-control" id="firstname" type="text" name="firstname" placeholder="Nom"
                       value="{{ user.firstname }}">
            </div>
        </div>
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Email" value="{{ user.email }}">
        <br/>
        <input class="form-control btn btn-success shadow" type="submit" name="updateUser" value="Modifier mon profil">
        </div>
    </form>
    <div style="min-height: 160px" class="clearfix mt-2">
        <a href="/user/{{ user.id_user }}" class="shadow p-3 mb-5 bg-default rounded btn btn-primary"><i class="fas fa-chevron-left"></i> Retour</a>
        <a href="/user/delete/{{ user.id_user }}" class="shadow p-3 mb-5 bg-default rounded btn btn-danger float-right"><i class="fas fa-trash"></i>
            Supprimer mon compte</a>
    </div>
{% endblock %}