{% extends 'layout.html.twig' %}

{% block title %}Article #{{ article.id_article }}{% endblock %}

{% block body %}
    <img src="/default-img/blg3.jpg" class="img-fluid" alt="Responsive image">
    <div class="p-3 shadow">
        <h2 class="m-4 text-center">{{ article.title }}
            {% if ("now"|date("Y-m-d")) < (article.add_article|date_modify("+7 days")|date("Y-m-d")) %}
                <span class="badge badge-warning">Nouveau</span>
            {% endif %}
        </h2>
        <p class="text-justify mb-5">{{ article.description }}</p>
        <p class="text-justify">{{ article.content|raw }}</p>
        <hr>
        {{ article.firstname }} {{ article.lastname }} - {{ article.add_article|date("d/m/Y h:i:s") }}
    </div>
    {% include 'include/comment.html.twig' %}
{% endblock %}